
.navbar {
    justify-content: space-between; /*pushes links to the opposite ends of the container */
    background-color: rgb(196, 126, 126);
    padding: 10px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none; /* removes underlines */ 
    color: black;
    margin: 0 10px; /* add spacing between links */
}

.navbar a:hover { /*styling for the links when hovered */
    text-decoration: underline;
}

/* .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    align-items: center; 
    justify-content: center; 
  } */

/* .horizontal-layout { 
    display:flex;
    flex-direction: row;
    width: 100%;
} */

/* .left-half{
  flex: 1; 
  text-align: center; 
} */

/* .intro-text {
    padding: 100px;
    font-size: medium;
    text-align: left;
} */

.experience {
    width: 100%;
}

.image{
    height: auto;
    width: 100%;
}

.work-accordion, .education-accordion, .project-accordion{
    width: 40%;
    padding: 30px
}

