
.navbar {
    justify-content: space-between; /*pushes links to the opposite ends of the container */
    background-color: rgb(196, 126, 126);
    padding: 10px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none; /* removes underlines */ 
    color: black;
    margin: 0 10px; /* add spacing between links */
}

.navbar a:hover { /*styling for the links when hovered */
    text-decoration: underline;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure at least 100% viewport height */
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
  }

.horizontal-layout { 
    display:flex;
    flex-direction: row;
    width: 100%;
}

.left-half, .right-half {
  flex: 1; /* distribute available space equally among these two sections */
  text-align: center; /* center text horizontally */
}

.intro-text {
    padding: 100px;
    font-size: medium;
    text-align: left;
}

.experience {
    width: 100%;
}

.image{
    height: 600px;
    width: 650px;
}
