
.navbar {
    position: fixed; 
    top: 0;
    z-index: 2; 
    color: rgba(90, 64, 6, 0.76);
}

.navbar.sticky {
    position: fixed;
    color: rgba(90, 64, 6, 0.76);
    top: 0;
    z-index: 2;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.menu-button{
    color: rgba(90, 64, 6, 0.76) !important; 
    border: none !important;
}

.navbar a {
    text-decoration: none; /* removes underlines */ 
    color: rgba(90, 64, 6, 0.76);
    margin: 0 10px; /* add spacing between links */
}

.navbar a:hover { /*styling for the links when hovered */
    text-decoration: underline;
    color: rgba(90, 64, 6, 0.76);
}

.image-container { 
    /* width: 100vw;  */
    /* height: 100vh;  */
    /* overflow: hidden;  */
    z-index: 1; /* Set the z-index to 1 to place it behind the navbar */
}

.text-overlay {
    position: absolute;
    top: 48%;
    left: 45%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    /* background-color: rgba(208, 206, 206, 0.7); */
    padding: 10px;
    color: white;
    text-align: center;
}

.text-overlay h2 {
    margin: 0; /* Remove default margin for headings */
}

.image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preserve the aspect ratio and cover the container */
    z-index: 0; /* Set the z-index to 0 to place it behind the navbar */
}

.work-accordion, .education-accordion, .project-accordion{
    width: 70%;
    padding: 30px;
}

.experience-container{
    float: right;
    width: 90vw; 
    height: 100vh; 
    padding: 0px;
    z-index: 3; /* Set the z-index to 1 to place it behind the navbar */
}


